.learn-wrapper {
    background:#202020;
    padding: 12px;
}

.learn-layout {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-gap: 9px;;
    padding: 32px;
}
.learn-card {
    height: 292px;
    border: 1px solid #504a4a;
    box-shadow: 0 4px 6px 2px rgba(0, 0, 0, 0.14);
    background: #000;
}
.learn-txt {
    padding: 8px;
}
.learn-btn {
    text-align: center;
    border: 1px solid white;
    padding: 8px;
    width: 74%;
    margin: auto;
    margin-top: 25px;
    background: #202020;
}
.learn-btn-txt {
    font-size: 1.1rem;
}
.learn-title {
    padding-left: 33px;
    font-size: 1.3rem;
}
.learn-line {
    border: 1px solid white;
    width: 12%;
    margin-left: 32px;
    margin-top: 10px;

}